.orangebtn {
    background-color: rgb(246, 143, 36);
    color: white;
    font-family: "Noto Sans", sans-serif;
    padding: 3% 20%;
    margin: 10% auto;
    width: 80%;
    border-radius: 5px;
    border: none;
    align-self: flex-end;
    &__bottom {
        background-color: rgb(246, 143, 36);
        color: white;
        font-family: "Noto Sans", sans-serif;
        padding: 3% 20%;
        margin: 10% auto 30% auto;
        width: 80%;
        border-radius: 5px;
        border: none;
        align-self: flex-end;
    }
 
}
