

#llegadas {
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#llegadas td, #llegadas th {
    
    padding: 8px;
    text-align: center;
}

#llegadas td {
    border-bottom: 0.5px solid gray;
}


#llegadas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}



#datosllegada {
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#datosllegada td, #datosllegada th {
    
    padding: 8px;
    text-align: left;
}




#datosllegada th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}
